{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/new_blah.css" %}">
</head>
<body>
    <div class="header">
        <img src="{% static "images/blah.png" %}">
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Site</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </div>

    <div class="main-content">

        <h2>Article</h2>
    {% for item in simlple %}
        <ul class="articles">
            <li>

                <img src="{% static "images/0001.jpg" %}" width="100" height="91">

                <div class="article-info">

                    <h3><a href="{% static "css/www.sample.com" %}">{{ item.title }}</a></h3>
                    <p class="meta-info">
                        {% for tags in item.area %}
                            <span class="meta-cate">{{ tags }}</span>
                        {% endfor %}
                    </p>
                    <p class="description">{{ item.url }}</p>

                </div>

                <div class="rate">
                    <span class="rate-score">{{ item.price }}</span>

                </div>

            </li>

        </ul>
    {% endfor %}
        <div>
            {% if simlple.has_previous %}
                <a href="?page={{ simlple.previous_page_number }}">pre</a>
            {% endif %}
                <span>{{ simlple.number }} of {{ simlple.paginator.num_pages }}</span>
            {% if simlple.has_next %}
                <a href="?page={{ simlple.next_page_number }}">next</a>
            {% endif %}
        </div>
    </div>

    <div class="footer">
        <p>&copy; Mugglecoding</p>
    </div>
</body>
</html>
